button{
    margin:0;
    padding: 0;

}

.body-container{
    display: flex;
}

.Appetizer-container{
    display: flex;
    flex-direction: row;
    background-color: gray;
}

#Appetizers-price-container{
    list-style-type: none;
    text-align:right;
    background: red;
}

#Appetizers-add-button-container{
    list-style-type: none;
    background-color: navy;
}

#Appetizers-name-container, #Appetizers-price-container, #Appetizers-add-button-container, #Appetizers-quanity-button-container{
    margin-top: 0;
}

#Appetizers-quanity-display-container{
    text-align: center;
    background-color: yellow;
    width: 30px;
}

#Appetizers-quanity-button-container{
    background: orange;
    list-style-type: none;
}

.menu-container{
    background-color: tan;
    width:75vw;
}
.shopping-cart-container{
    background-color: beige;
    width:50vw;
}
